<header>
  <div class="logo-wrapper">
    <a class="logo" href="./">Alamega</a>
  </div>

  <div class="navbar" id="navbar">
    <button id="navbar_btn"></button>
    <div class="navbar_menu" id="navbar_menu">
      <script src="./scripts/cssAnime.js"></script>
      <a style="cursor: pointer" onclick="getByakByak()">Бяк бяк</a>
      <a href="./hello.html">Привет.js</a>
      <a href="./RSA.html">RSA.js</a>
      <a href="./GAME.html">GAME.js</a>
    </div>
  </div>

  <script>
    const menu = document.getElementById("navbar_menu");
    const navbar = document.getElementById("navbar");
    const btn = document.getElementById("navbar_btn");

    menu.style.display = "none";

    btn.addEventListener("click", () => {
      if (menu.style.display) {
        navbar.style.boxShadow = "0 0 4px black";
        menu.style.display = "";
      } else {
        navbar.style.boxShadow = "";
        menu.style.display = "none";
      }
    });

    fetch("/getCurrentUser")
      .then((data) => data.json())
      .then((user) => {
        if (!user.error) {
          document.getElementById("navbar_menu").insertAdjacentHTML("afterbegin", '<a href="/user?userId=' + user.id + '">' + user.username + "</a>");
          document.getElementById("navbar_menu").insertAdjacentHTML("beforeend", '<a href="/logout">Выход</a>');
        } else {
          document.getElementById("navbar_menu").insertAdjacentHTML("afterbegin", '<a href="/registration.html">Регистрация</a>');
          document.getElementById("navbar_menu").insertAdjacentHTML("afterbegin", '<a href="/login.html">Вход</a>');
        }
      });
  </script>
</header>
