<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Всё</title>
    <%- include('layouts/head') -%>
  </head>
  <body id="body">
    <div class="container">
      <%- include('layouts/header') -%>

      <style>
        * {
          user-select: none;
        }
        canvas {
          background: rgba(255, 255, 255, 1);
          box-shadow: 0 0 2px black;
          width: 100%;
          cursor: none;
        }
      </style>

      <div class="content">
        <canvas class="game" id="game"></canvas>
        <script src="./scripts/game.js"></script>
      </div>

      <%- include('layouts/footer') -%>
    </div>
  </body>
</html>
