<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Сайтик</title>
    <%- include('layouts/head') -%>
  </head>
  <body id="body">
    <div class="container">
      <%- include('layouts/header') -%>

      <div class="content">
        <div class="form_center">
          <script src="./scripts/hello.js"></script>
          <p>Введите имя:</p>
          <input type="text" id="input_hello" value="Alamega" />
          <div class="align-items-center">Озвучить: <input type="checkbox" id="checkbox_hello" /></div>
          <button class="button" onclick="hello()" id="button_hello">Кнопочка</button>
          <p id="result_hello"></p>
        </div>
      </div>

      <%- include('layouts/footer') -%>
    </div>
  </body>
</html>
