<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Сайтик</title>
    <%- include('layouts/head') -%>
  </head>
  <body id="body">
    <div class="container">
      <%- include('layouts/header') -%>

      <div class="content form_center">
        <script src="./scripts/RSA.js"></script>
        <p>Введите p:</p>
        <input type="text" id="p" value="7" />
        <p>Введите q:</p>
        <input type="text" id="q" value="13" />
        <p>Введите Kc:</p>
        <input type="text" id="d" value="23" />
        <button class="button" onclick="GetKeys()">Кнопочка</button>
        <p id="result"></p>
      </div>

      <%- include('layouts/footer') -%>
    </div>
  </body>
</html>
